.hidden {
	display: none;
}

body {
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	background:#689CD2;
	color: white;
	margin: 0px;
}

input{
	border-radius: 10px;
	border: none;
	box-shadow: 0 5px 0 #003CC5;
	color: blue;
}

fieldset {
	border-radius: 10px;
}

.fieldhead {
	font-size: 24px; 
}

form {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.buttons, .result_buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.btn-new {
    border: none;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
    height: 40px;
    width: 130px;
}

.btn-new:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}

.hello_container {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-top: 50px;
	align-self: center;
}

h1:nth-child(even){
	align-self: flex-end;
}

a {
	text-decoration: none;
	color: white;
}

.main_hello {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.navbar {
	display: flex;
	height: 55px;
	padding: 0px;
	margin: 0px;
	background: #202c9e;
}

.navbar > p {
  	font-family: sans-serif;
  	color: white;
	height: 100%;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: space-around;
}

.navbar > p:hover {
  background: #0f1547;
}

.navbar > p > a {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

input:focus {
	outline-color: #202c9e;
}

.form_result, .result_buttons {
	display: flex;
	justify-content: space-between;
}

.result_buttons {
	width: 350px;
	margin-top: 50px;
}

#content_result {
	margin-bottom: 55px;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	align-items: center;
}

.form_result {
	justify-content: flex-start;
	flex-direction: column;
	border-radius: 10px;
}

.form_result > div {
	display: flex;
	margin-left: 15px;
	border-bottom: solid 1px white;
	margin-bottom: 5px;
}

.form_values {
	margin-left: 25px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 3;
}

.form_keys {
	flex: 2;
	color: #202c9e;
	font-size: 20px;
}

.check_val_form {
	width: 600px;
	margin-top: 55px;
	align-self: center;
}

.participants_table_full {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	width: 600px;
	align-self: center;
}

.participants_table_head{
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;
}

.participants_table_body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.participants_table_body > div {
	display: flex;
	border-bottom: solid 1px white;
	margin-bottom: 5px;
}

.participants_table_body > div > p {
	margin: 5px;
}

.participants_table_body > div > p:nth-child(1){
	flex: 1;
}

.participants_table_body > div > p:nth-child(2){
	flex: 1;
}

.participants_table_body > div > p:nth-child(3){
	flex: 2;
}

